:root{
  --background-color: hsl(0, 41%, 29%);
  --textColor: hsl(180, 100%, 50%);
  --buttonBackground: hsl(240, 79%, 44%);
  --buttonColor: hsl(0, 0%, 93%);
}
html{
  box-sizing: border-box;
  font-size: 1vw;
  color-scheme: dark;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color-scheme: dark;
  margin: 0;
  padding: 0;
}
.container{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 97vh;
}
.container > .box1,
.container > .box2,
.container > .box3{
  background-color: red;
  width: 100px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  color: var(--buttonColor);
}
.container .box1{
  position: absolute;
  bottom: 0;
  right: 40vw;
  animation: box1-animate 1s ease-in forwards infinite;
}
@keyframes box1-animate  {
  100%{
    transform: translateY(-920%);
  }
}
.container .box2{
  position: absolute;
  top: 5vw;
  animation: box1;
  background-position: center;
  animation: box2-animate 1s ease-in forwards infinite;
}
@keyframes box2-animate {
   100%{
      transform: translateX(900%);
      display: none;
   }
}
.container .box3{
  position: absolute;
  bottom: 0;
  animation: box1-animate 1s ease-in forwards infinite;
}
@keyframes box1-animate  {
  100%{
    transform: translateY(-500%);
  }
}
.container .pause{
  background-color: #333;

  border: none;
  width: 13%;
  aspect-ratio: 1/1;
  color:var(--textColor);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-family:  inherit;
}
.container .bottom{
    position: absolute;
    bottom: 0;
}
.container .right_top{
  position: absolute;
  top: 0;
  right: 0;
}
.container .right_bottom{
  position: absolute;
  bottom: 0;
  right: 0;
}
