:root{
  --background-color: hsl(0, 0%, 93%);
  --textColor: hwb(0 20% 80%);
  --buttonBackground: hsl(240, 79%, 44%);
  --buttonColor: hsl(0, 0%, 93%);
}
html{
  box-sizing: border-box;
  font-size: 1vw;
}
*,
*::before,
*::after{
  box-sizing: inherit;
}
body{
  background-color: var(--background-color);
  color: var(--textColor);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}